<!DOCTYPE HTML>
<!--
tinypng
-->
<html>

<head>
	<title>
		Code Book
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/main.css" />
	<script src="https://kit.fontawesome.com/85999f6d09.js" crossorigin="anonymous"></script>

</head>

<body class="">
	<!-- Nav tabs -->
	<%- include('./partials/nav.ejs') %>

		<section class="f">
			<h1>Error 404</h1>
		</section>

		<%- include('./partials/footer.ejs') %>
		<!-- Scripts -->

		<%- include('./partials/Scripts.ejs') %>

		<script>


		</script>
</body>

</html>