<!DOCTYPE HTML>
<!--
tinypng
-->
<html>

<head>
	<title>
		Code Book
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/main.css" />
	<script src="https://kit.fontawesome.com/85999f6d09.js" crossorigin="anonymous"></script>
	<style>
		#showcase {
			background-image: linear-gradient(45deg, rgb(41, 43, 44), rgba(91, 192, 222, .4)), url(images/problem.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			min-height: 80vh;
		}
	</style>
</head>

<body class="">
	<!-- Nav tabs -->

	<%- include('./partials/nav.ejs') %>




	<header id="showcase" class="d-flex flex-column justify-content-center">
		<div class="container text-white text-center">
			<div class="d-flex flex-column justify-content-center py-5">
				<h1 class="display-3 text-capitalize py-3"></h1>
				
				<div class="py-3">
					<code class="text-light h2">if(registered)</code>
					<a href="/login"
						class="btn btn-lg h2 btn-outline-info text-white text-capitalize align-self-center mx-2 px-4">
						Log In
					</a>
					<code class="text-light h2">else</code>
					<a href="/signup"
						class="btn btn-lg h2 btn-outline-info text-white text-capitalize align-self-center mx-2 px-4">
						Sign Up
					</a>
					<code class="text-light h2">;</code>
				</div>
			</div>
		</div>
	</header>
	<div id="boxes" class="py-5 bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card text-center mb-3 mb-md-0 border-info">
						<div class="card-body">
							<h3 class="card-title text-capitalize text-info">
								be better
							</h3>
							<p class="card-text text-muted">
								Problem solving places the focus on the student making sense of mathematical ideas
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card text-center mb-3 mb-md-0 border-info bg-info">
						<div class="card-body">
							<h3 class="card-title text-capitalize text-light">
								be smarter
							</h3>
							<p class="card-text text-light">
								Problem solving improves your abilities to retain and recall information
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card text-center mb-3 mb-md-0 border-info">
						<div class="card-body">
							<h3 class="card-title text-capitalize text-info">
								be faster
							</h3>
							<p class="card-text text-muted">
								Problem solving makes you compete with others in limited time , tring to be the first
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card text-center mb-3 mb-md-0 border-info bg-info">
						<div class="card-body">
							<h3 class="card-title text-capitalize text-light">
								be stronger
							</h3>
							<p class="card-text text-light">
								Problem solving encourages YOU to believe in your ability to think mathematically
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section id="about" class="py-5 text-center bg-light">
		<div class="container">
			<h2 class="h2 text-info text-capitalize pb-4">why this website ?</h2>
			<p class="lead w-75 d-inline-block border-bottom pb-4">
				Problem-solving is important both to individuals and organizations because it enables us to exert control over our environment.
			</p>
			<div id="accordion">
				<div class="card">
					<div class="card-header">
						<h5>
							<a href="#collapse1" data-parent="#accordion" data-toggle="collapse" class="text-info">
								<i class="fas fa-arrow-circle-down"></i>  What is this website ?
							</a>
						</h5>
					</div>

					<div id="collapse1" class="collapse show">
						<div class="card-body">
							It is an online website about competitive programming. The site offers explanations 
							about topics related to competitive programming and articles written by experts. In addition, 
							the main core of the site is to solve problems about competitive programming, so the site 
							contains problems with variant difficulty levels. The user can submit his solution output and the 
							site checks that output.
						</div>
					</div>
				</div>


				<div class="card">
					<div class="card-header">
						<h5>
							<a href="#collapse2" data-parent="#accordion" data-toggle="collapse" class="text-info"><i
									class="fas fa-arrow-circle-down"></i>
								What we offer ?
							</a>
						</h5>
					</div>

					<div id="collapse2" class="collapse">
						<div class="card-body">
							Each user can solve problems, see topics explanations, review articles, and can participate in 
							official contests. On the other side come the developers, expert people for managing the site; 
							these are responsible for putting problems and determine the input and output of each 
							problem. Also, contributors write and edit materials of topics explanations.
						</div>
					</div>
				</div>


				<div class="card">
					<div class="card-header">
						<h5>
							<a href="#collapse3" data-parent="#accordion" data-toggle="collapse" class="text-info"><i
									class="fas fa-arrow-circle-down"></i>
								Open Your Mind
							</a>
						</h5>
					</div>

					<div id="collapse3" class="collapse">
						<div class="card-body">
							The main problem is the shortage of communities where competitive programming students 
							can gather together with experts sharing explanations for topics, problems, and contest. Most 
							of places exist focus on one aspect only, to solve problems or to explain topics only. This 
							generates to the idea of combining these features in one place where competitive 
							programmers can have suitable place for their training.
						</div>
					</div>
				</div>


				

				
			</div>
		</div>
		</div>
	<!-- </section>
	<section id="authors" class="py-5 text-center">
		<div class="container">
			<h2 class="h2 text-info text-capitalize pb-4">meet the authors</h2>
			<p class="lead w-75 d-inline-block border-bottom pb-4 mb-5">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem animi asperiores, nihil explicabo quis
				numquam at quaerat sequi in repellendus.
			</p>
			<div class="row">
				<div class="col-md-6 col-lg-3 ">
					<div class="card mb-3 mb-lg-0">
						<div class="card-body">
							<img src="../images/developer.jpg" alt="" class="img-fluid rounded-circle mb-3 w-50">
							<h3>Mohamed Nabawie</h3>
							<h4 class="text-muted">CEO</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magni minus
								nesciunt
								odio blanditiis cumque.
							</p>
							<div class="d-flex justify-content-center ">
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-facebook"></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-twitter "></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ">
					<div class="card mb-3 mb-lg-0">
						<div class="card-body">
							<img src="../images/developer.jpg" alt="" class="img-fluid rounded-circle mb-3 w-50">
							<h3>Gaser Ashraf</h3>
							<h4 class="text-muted">CTO</h4>

							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magni minus
								nesciunt
								odio blanditiis cumque.
							</p>
							<div class="d-flex justify-content-center ">
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-facebook"></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ">
					<div class="card mb-3 mb-lg-0">
						<div class="card-body">
							<img src="../images/developer.jpg" alt="" class="img-fluid rounded-circle mb-3 w-50 ">
							<h3>Yousef Elshabrawy</h3>
							<h4 class="text-muted">Developer</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magni minus
								nesciunt
								odio blanditiis cumque.
							</p>
							<div class="d-flex justify-content-center ">
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-facebook"></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ">
					<div class="card ">
						<div class="card-body">
							<img src="../images/developer.jpg" alt="" class="img-fluid rounded-circle mb-3 w-50">
							<h3>Yousef Elmahdy</h3>
							<h4 class="text-muted">Developer</h4>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magni minus
								nesciunt
								odio blanditiis cumque.
							</p>
							<div class="d-flex justify-content-center ">
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-facebook"></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
								<div class="p-3">
									<a href="#" class="text-info">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<%- include('./partials/footer.ejs') %>
	<!-- Scripts -->
	<%- include('./partials/Scripts.ejs') %>
	<script>
		// Init Scrollspy
		$('body').scrollspy({
			target: '#main-nav'
		});

		// Smooth Scrolling
		$("#main-nav a").on('click', function (event) {
			if (this.hash !== "") {
				event.preventDefault();

				const hash = this.hash;

				$('html, body').animate({
					scrollTop: $(hash).offset().top
				}, 800, function () {

					window.location.hash = hash;
				});
			}
		});
	</script>
</body>

</html>